<!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>LUCA_HOME</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style_home.css">
    </head>

    <body>
        <div data-layer="9426bee7-1852-46cf-9f10-3f646ef33f2b" class="web19201">        <div data-layer="7bfc0518-e4c0-4aa4-9d3f-65ee2fe78b30" class="freeIconSun6133823"></div>
        <div data-layer="ca45b6d5-64e3-4952-8428-e773728c5f17" class="luca">LUCA</div>
        <div data-layer="45af71cc-5e88-4a2e-94f6-57ed82316704" class="xTest">영어발음 TEST</div>
        <div class="wrap">
            <a href="/test" class="button">START</a>
        
      </div>
        
            
    </div> 
</div>
</div>


    
    </body>
    </html>
            